html, body {
    height: 100%;
    margin: 0px;
    font-family: 'Heebo', sans-serif;
  }

h1{
    color: #76726A;;
    font-size: 2rem;
    font-weight: lighter;
}
h5{
    font-size: 1rem;
    font-weight: lighter;
}
h2{
    font-size: 1rem;
    font-weight: bold;
}
h3{
    font-size: 1.1rem;
    font-weight: bold;
}
p{
    margin-bottom: 0rem;
}
a{
    text-decoration:none;
    color:#ab9154;
    font-weight: 350;
}

.container-fluid, .row, .col, .col-lg-6{
    padding: 0;
    margin: 0;
} 

.responsive-img{
    max-height: 75vh;
    object-fit: cover;
}

.landing h1{
    text-align: center;
    color: #fff;
    font-size: 6rem;
    position: absolute;
    top: 40% ;
    left: 37.5%;
    right: 37.5%;
    width: 25%;
    border: 5px solid white;
}
/* Colores disponibilidad */
.Apartado {
    color : goldenrod !important;
   }
   
.Vendido{
color : darkred !important;
}
   
.Disponible{
color : darkgreen !important;
}

  /*Servicios*/
  .servicios h1{
    text-align: center;
    color: #fff;
    font-size: 5.5rem;
    position: absolute;
    top: 35% ;
    left: 32.5%;
    right: 32.5%;
    width: 35%;
    border: 5px solid white;
}

.nuestros-servicios h2{
    color: #707070;
    font-size: 2rem;
    font-weight: normal;
}

.nuestros-servicios hr{
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.nuestros-servicios p{
    color: #707070;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.nuestros-servicios p:before{
    color: #A28234;
    content: "•";
    font-weight: bold;
    display: inline-block;
    width: 1rem;
}

.nuestros-servicios img{
    border-radius: 50px;
}

/*Boton de whatsapp e inglés*/
#whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:25px;
    left:30px;
    background-color:#080F24;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:45px;
    z-index:100;
    opacity: 0.7;
    transition: 0.3s;
  }

  #whatsapp:hover{
      background-color: #23ce63;
      opacity: 1;
      transition: 0.3s;
  }

  #whatsapp .fa-whatsapp {
    position: relative;
    vertical-align: top;
    top: 7px;
    left: 0;
    width: 100%;
  }

  #boton-idioma {
    position:fixed;
    width:60px;
    height:60px;
    bottom:25px;
    right:30px;
    background-color:#080F24;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:45px;
    z-index:100;
    opacity: 0.7;
    transition: 0.3s;
  }

  #boton-idioma:hover{
      background-color: lightskyblue;
      opacity: 1;
      transition: 0.3s;
  }

  #boton-idioma .fa-language {
    position: relative;
    vertical-align: top;
    top: 7px;
    width: 70%;
  }

/*Home page*/
.img-front-listings{
    height: 20rem;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

#prop-de-lujo{
    color: #fff;
    font-size: 8rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
}

/*Listings y rentals*/

.secondary-text{
    color: #707070;
}

.listings-rentals h2{
    font-size: 3.5rem;
    font-weight: normal;
}

.listings-rentals h3{
    font-size: 1.5rem;
}

.listings-rentals h5{
    font-size: 2rem;
}

.listings-rentals hr{
    margin-top: 0 !important;
    width:70%;
    text-align:left;
    margin-left:0
}

.listings-rentals img{
    max-height: 50vh;
    object-fit: cover;
}

.listings-dorado{
    color: #fff;
    background-color: #ab9154;
}

.listings-dorado a{
    background-color: #fff;
    color: #ab9154;
}

.hr-dorado{
    width:70%;
    text-align: end !important;
    margin-right: 0 !important;
    margin-left: 30% !important;
}

/*single listings y rentals*/

#carouselPrecios h2{
    font-size: 1.2rem;
    color: #707070;
    font-weight: 400;
}

#carouselPrecios h3{
    font-size: 1.5rem;
    color: #ab9154;
    font-weight: bold;
}

.single-listings h1{
    font-size: 3rem;
    color: white;
    background-color: #ab9154;
}

.single-listings h3{
    font-size: 1rem;
    font-weight: lighter;
    color: white;
}

.single-listings h2{
    font-size: 3.5rem;
    font-weight: bold;
    color: #A28234;
}

.single-listings p{
    font-size: 1.3rem;
    color: #929292;
    font-weight: 300;
}
.single-listings .datos-generales p:before{
    color: #A28234;
    content: "•";
    font-weight: bold;
    display: inline-block;
    width: 1rem;
}

.single-listings img{
    max-height: 65vh;
    object-fit: cover;
}

.single-listings h5{
    font-size: 1.5rem;
    font-weight: normal;
}

.location-titles h2{
    color: #fff;
    font-weight: lighter;
}

.location-titles h3{
    color: #fff;
    font-weight: lighter;
}

.gallery-images{
    object-fit: cover;
    overflow: hidden;
}
.gallery-images figure img{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.gallery-images figure:hover img{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

figure{
    overflow: hidden;
}

/*Single developments*/
.single-developments .dev-prices{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100% !important;
}

.single-developments .dev-prices p{
    color: #FFF;
    font-size: 1rem;
}

.single-developments .dev-prices h3{
    color: #FFF;
    font-size: 2rem;
}

.single-developments #logo-desarrollo{
    position: absolute;
    left: 0;
    top: 10%;
    width: 20%;
    height: auto;
}

.fondo-oscuro{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
}

.single-developments .description{
    z-index: 5;
    color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    top: 10%;
}

.single-developments h2{
    color: #fff;
    font-size: 3rem;
    font-weight: lighter;
}

#el-content p{
    font-weight: lighter;
    font-size: 1.2rem;
}

.single-developments .location-titles{
    position: absolute;
    width: 100%;
    top: 15%;
    right: 0;
    z-index: 10;
}



/*Contact form*/

.contact-form h3{
    color: #A28234;
    font-weight: bold;
}

.contact-form img{
    border-radius: 50px;
}

/*NAVBAR*/
.logo{
    height: 4rem;
}
.nav-link{
    margin-right: 1rem;
    margin-left: 1rem;
}
.navbar{
    z-index:10;
}
.navbar-right{
    background-color: #ab9154;
}
.icon-size-4{
    height: 3rem;
    margin: 1rem;
}

#ore_main_navbar li a:after{
    content: "•";
    font-weight: bold;
    display: inline-block;
    width: 1rem;
    margin-left: 2rem;

}

#ore_main_navbar li:last-child a:after{
    content:    none;

}

.text-4{
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: white;
}

nav .nav-item i{
    vertical-align:bottom;
    font-size: 5px;
    padding-bottom: 2px;
    color: #929292;
}

/*form de busqueda*/
.form-select{
    width: fit-content;
}

/*FORMULARIO*/
.select{
    text-align: start;
}
.pad1{
    padding-top: 1rem;
}

.main{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

}

.main2{
    width: 100%;
    height: 100%;
    background-image: url(/images/header2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

}
.main .card{
    border: none;
    background: none;
}
.btn1{
    background-color: #ab9154;
    color: white;
    outline: none;
    border: none;
    padding-right: 8.8rem;
    padding-left: 8.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.form-control{
    color: #707070;
    font-size: 1.2rem;
    font-weight: bold;
}

/*TITULO 1*/
.titulo1{
    font-size: 4rem;
    font-weight: initial;
}
.pad2{
    padding-top: 15rem;
    padding-bottom: 15rem;
}

.btn-lg{
  background-color: #ab9154;
  color: #fff;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 1rem;
  box-shadow: 0px 3px 6px #929292;
}

.button{
  background-color: #ab9154;
  border: none;
  color: white;
  padding: 0.3rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  border-radius: 2rem;

}

/*FOOTER*/
.text3{
    font-size: 1.2rem;
    font-weight: bold;
}

.interlineado{
    font-weight: initial;
    font-size: 0.8rem;
    line-height: 0.5rem;
}

.footer{
    color: #FFF;
    position: relative; 
    z-index: 1; 
    background-color: #A28234;
    padding-top: 2rem; 
    padding-bottom: 2rem;
    background-image: url(/images/one_logo.svg);
    background-repeat: repeat-y;
    background-position: center;
}

/*TITULO Y BOTON*/
.btn2{
    margin: 1rem;
    font-weight: 600;
    font-size: 1.3rem;
    background-color: #A28234;
    color: white;
    outline: none;
    border: none;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

/*NAVBAR VERTICAL*/
#sidebar-container{
  height: 100%;
  width: 3rem;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 30rem;
}
.icon-size-3{
    height: 2rem;
    margin: 0.7rem;
    fill: #ab9154;
}
#sidebar-container .menu{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 3rem;
}
/*Paginación*/
.pagination{
    margin-top: 1rem;
    text-align: center;
    display: block;
}

.pagination h2{
    display: none;
    font-size: 2rem;
}

.pagination .nav-links{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.pagination .nav-links .current{
    text-decoration: none;
    color: black;
}

.pagination .page-numbers{
    margin-right: 5px;
    text-decoration: underline;
}

.pagination a{
    color: #ab9154;
}

/*CARDBOX*/
.icon-size{
    height: 1.1rem;
}
.flex1{
    display: flex;
}
.margin1{
    margin-right: 1rem;
    font-weight: bold;
}
.col-sm-4{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*TESTIMONIOS*/
.img-size-1{
    height: 9rem;
    margin: auto;    
    display: block;
}
.text-2{
    font-size: 1.2rem;
}

.img-testimonials{
    border-radius: 50% !important;
    object-fit: cover;
}

/*MEDIA QUERY*/
@media (min-width: 375px) and (max-width: 414px){
    h1{
        font-size: 1.4rem;
    }
    .img-size-2{
        margin-top: 3rem; 
    }
    .text-1{
        padding-bottom: 2rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        text-align: center;
    }
    .text-2{
        text-align: center;
    }
    .col-6{
        padding-bottom: 0mm;
    }
    .footer{
        background-image: url(/images/footer_movil.png);
    }

}
@media (min-width: 360px) and (max-width: 767px) {
    /*Home page*/
    .img-front-listings{
        height: 15rem;
    }

    #prop-de-lujo{
        font-size: 2rem;
    }

    .responsive-img{
        height: 55vh;
        object-fit: cover;
    }

    /*single developments*/

    .mobile-img{
        min-height: 50vh;
        object-fit: cover;
    }

    .single-developments .dev-prices p{
        color: #FFF;
        font-size: 1rem;
    }
    
    .single-developments .dev-prices h3{
        color: #FFF;
        font-size: 1.5rem;
    }

    .description h2{
        font-size:1.5rem ;
    }

    #el-content p{
        font-size:0.8rem ;
    }

    .single-developments .location-titles{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }

   /*Listings y rentasl mobile*/

   .single-listings p{
    font-size: 0.9rem;
    }

    .single-listings h2{
        font-size: 2rem;
    }

    .listings-rentals h2{
        font-size: 2rem;
        font-weight: normal;
    }
    
    .listings-rentals h3{
        font-size: 1rem;
    }
    
    .listings-rentals h5{
        font-size: 1rem;
    }

    .listings-rentals hr, .hr-dorado{
        width:90% !important;
        text-align:center !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }

    .landing h1{
        text-align: center;
        color: #fff;
        font-size: 3.5rem;
        position: absolute;
        top: 30% ;
        left: 20%;
        right: 20%;
        width: 60%;
        border: 5px solid white;
    }

    /*Servicios mobile*/
    .servicios h1{
        top: 30%;
        font-size: 3rem;
        left: 15%;
        right: 15%;
        width: 70%;
    }

    .nuestros-servicios p{
        font-size: 0.9rem;
        margin-bottom: 10px;
    }

    /**/
    .icon-size-4{
        height: 2rem;
    }
    .titulo2{
        font-size: 1.6rem;
        font-weight: initial;
    }
    .btn1{
        padding-right: 3.3rem;
        padding-left: 3.3rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .form-control{
        margin-right: 3rem;
    }
    .text-1{
        padding-bottom: 2rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        text-align: center;
    }
    .text2{
        margin: 2.5rem;
    }
    .text-2{
        text-align: center;
    }
    .img-size-2{
        margin-top: 3rem; 
    }
    #sidebar-container{
        padding-top: 36rem;
    }
    .footer{
        background-image: url(/images/footer_movil.png);
    }
    h1{
        font-size: 1.5rem;
    }
    .col-6{
        padding-bottom: 0mm;
    }

    /*form de busqueda*/
    .form-select{
        width: 100%;
    }

    /*NAVBAR MOBILE*/
    #ore_main_navbar li a:after{
        content: "";
    }
    .navbar-collapse {
        position: fixed;
        top: 0px;
        left: 0;
        padding-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 75%;
        height: 100%;
        z-index: 100;
        background-color: #fff;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }

    #ore_main_navbar .nav-link{
        font-size: 1.5rem;
    }
  }

@media (min-width: 768px) and (max-width: 992px) {
    .single-developments .location-titles{
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 10;
    }
    
    .form-select{
        width: 100%;
    }
    #prop-de-lujo{ 
        font-size: 5rem;
    }

    .single-listings p{
        font-size: 1.2rem;
        }
    
    .single-listings h2{
        font-size: 2.5rem;
    }

    .listings-rentals hr, .hr-dorado{
        width:90% !important;
        text-align:center !important;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }

    .landing h1{
        text-align: center;
        color: #fff;
        font-size: 4.5rem;
        position: absolute;
        top: 30% ;
        left: 20%;
        right: 20%;
        width: 60%;
        border: 5px solid white;
    }
    .margin1{
        margin-right: 0.5rem;
        font-weight: bold;
    }
    .img-size-2{
        margin-top: 0rem; 
    }
    .text-1{
        text-align: left;
    }
    #sidebar-container{
        padding-top: 33rem;
    }
    .titulo2{
        font-size: 2.5rem;
        font-weight: initial;
    }
  .text-1{
      padding-bottom: 4rem;
    }
    .footer{
        background-size: cover;
    }

    /*Navbar iPad*/
    #ore_main_navbar li a:after{
        content: "";
    }

    #ore_main_navbar .nav-link{
        font-size: 2rem;
    }

    .navbar-collapse {
        position: fixed;
        top: 0px;
        left: 0;
        padding-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 40%;
        height: 100%;
        z-index: 100;
        background-color: #fff;
    }

    .navbar-collapse.collapsing {
        left: -40%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
}

@media (min-width: 992px) {
    .margin1{
        margin-right: 1rem;
        font-weight: bold;
    }
    #sidebar-container{
        padding-top: 30rem;
    }  
    .form-control{
        margin-right: 3.8rem;
    }
    .titulo2{
        font-size: 3.5rem;
        font-weight: initial;
    }
    .nav-link{
        text-align: center;
    }
    
}
